@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

* {
  scrollbar-width:none !important;
}
html {
  font-family:"Iosevka" !important;
  font-size:13px !important;
}

.tab-label {
-moz-box-flex: 1 !important;
text-align: center !important;
}

window, #main-window {
  color:#c9c2bd !important;
  background:#0c1012 !important;
  -moz-appearance:none !important;
}

html#main-window {
  --arrowpanel-background:#273539 !important;
  --arrowpanel-color:#c9c2bd !important;
}

#tabbrowser-tabpanels {
  background:#0C1012 !important;
}

#nav-bar {
  color:#c9c2bd !important;
  background:#0C1012 !important;
  box-shadow:none !important;
}

#back-button, #forward-button {
  display:none;
}

.tabbrowser-tab .tab-icon-image {
display: none !important;
}

/* TABS: bottom - Firefox 65 and later */
/* /source/browser/themes/shared/tabs.inc.css */

/* ROOT - VARS */
*|*:root {
 --tab-toolbar-navbar-overlap: 0px !important;

 --tab-min-height: 30px !important; /* adjust */
 --tab-min-width:  60px !important; /* adjust */

 --personal-toolbar-height: 22px; /* personal-toolbar 22px */
 --captionbox-adjust: calc(2px + var(--personal-toolbar-height));
}

/* TAB BAR on bottom */
#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 10 !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 1000 !important;
  position: absolute !important;
  display: block !important;
  bottom: 0 !important;
  height: 50px !important;	
}

#tabbrowser-tabs {
  width: 100vw !important;
}

/* navigator-toolbox - padding */
*|*:root:not([chromehidden*="toolbar"]) #navigator-toolbox {
 padding-bottom: calc(var(--tab-min-height) + 1px) !important; /*adjust*/
}

/* TabsToolbar with menubar and titlebar hidden */
*|*:root[tabsintitlebar]:not([inFullscreen="true"]):not([sizemode="maximized"])
 #toolbar-menubar[autohide="true"] ~ #TabsToolbar{
}

/* TABS: height */
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  min-height: var(--tab-min-height) !important;
  max-height: var(--tab-min-height) !important;
}

#TabsToolbar {
  height: var(--tab-min-height) !important;
  margin-bottom: 1px !important;
  box-shadow: ThreeDShadow 0 -1px inset, -moz-dialog 0 1px !important;
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--toolbar-color) !important;
}

/* indicators *//*
*|*:root[privatebrowsingmode=temporary] .private-browsing-indicator {
  position: absolute !important;
  display: block !important;
  right: 0px !important;
  bottom: 0px !important;
  width: 14px !important;
  pointer-events: none !important;
}
*/
.private-browsing-indicator {display: none !important;}
.accessibility-indicator    {display: none !important;}

/* Indicators - HIDE *//*
*|*:root:not([accessibilitymode])             .accessibility-indicator    {display: none !important}
*|*:root:not([privatebrowsingmode=temporary]) .private-browsing-indicator {display: none !important}
*/

/* Drag Space */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 20px !important;
}

/* Override vertical shifts when moving a tab */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}

#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}


/* window-controls - full screen */
#TabsToolbar #window-controls {
  position: fixed !important;
  display: block !important;
  right: 0 !important;
  bottom: 0 !important;
  visibility: hidden !important; /* adjust: visible/hidden */
}

/* caption buttons - PersonalToolbar (PT) hidden/visible */
*|*:root[tabsintitlebar]:not([inFullscreen="true"]) #toolbar-menubar[autohide="true"]
 ~ #TabsToolbar .titlebar-buttonbox-container {
  position: fixed !important;
  display: block !important;
  right: 0 !important;
  top: calc(var(--tab-min-height) + var(--captionbox-adjust)) !important; /*adjust var*/
  height: var(--tab-min-height) !important;
  visibility: hidden !important; /* adjust: visible/hidden */
}
/* caption buttons - HEIGHT */
.titlebar-buttonbox-container .titlebar-button {
  height: var(--tab-min-height) !important;
  margin: 0px -5px 0px -5px !important;
  padding: 0px !important;
}

/* caption buttons - PADDING */
*|*:root[tabsintitlebar]:not([inFullscreen="true"])
 #toolbar-menubar[autohide="true"] ~
  #TabsToolbar {
   padding-right: 90px !important; /*adjust*/
}

 .tab-background[selected="true"] {
      background-color: #0c1012 !important;
      background-image: none !important;
    }

scrollbox[orient="horizontal"]{ -moz-box-pack: center; }

#urlbar-background {
    background: #141b1f !important;
}

.tabbrowser-tab:not([pinned]) {
max-width: 1600px !important;
}

.tabbrowser-tab:not([pinned]):not([fadein]) {
max-width: 0.1px !important;
}
